body {
    background-image: url("./src/Images/woman-570883.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.letter {
    color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    justify-content: center;
}
.parrafo {
    color: rgb(248, 245, 245);
    font-size:x-large;
}
.font {
    display: flex;
    justify-content: center;
}

.squad {
font-size: large;
display: flex;
justify-content: center;
}
.list {
    list-style: none;
    border: 3px solid black;
}
.squad2 {
    list-style: none;
    border: 3px solid black;
}
