body {
    background-color: rgb(0, 255, 0, 0.2);
}
.line {
    height: 3px;
    background-color: black;
}
.titu {
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    
}

.line2{
    height: 3px;
    background-color: black;
}
.contImgs{
    display: flex;
    gap: 20px;
}