body {
    background-color: rgb(106, 5, 1)
}

.Cuadrado {
    width: 300px;
    border: 1px;
    background-color: rgb(255, 255, 255, 0.4);
    display: flex;
    justify-content: center;
    padding: 20px 25px;
    flex-direction: column;

}
#Password{
    display: flex;
    justify-content: center;
}
#Letter {
    font-style: italic;
    color: white;
    display: flex;
    justify-content: center;
}
#Tittle {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: silver;
    display: flex;
    justify-content: center;
}
#line {
border-radius: 3px;    
background-color: white;
}

